/**
 * Colors
 */
$tweet-gray-light: #e3e3e3;
$tweet-gray-medium: #dddddd;
$tweet-gray-dark: #6e6e6e;
$tweet-background-light: #fbfaf9;
$tweet-blue: #6b9ec7;
$red-bright: #ff0000;
$red-dark: #b30f0f;

$shadow: 1px 2px 8px -5px $tweet-gray-dark;
$transition: .3s all;

/**
 * Tweet list
 */
.tweet-list {
    background: white;
    border: 1px solid $tweet-gray-light;
    box-shadow: $shadow;
    padding: 0;
}

/**
 * Individual tweet
 */
.tweet {
    border-bottom: 1px solid $tweet-gray-light;
    padding: 20px 25px 10px 20px;
    display: flex;

    &:hover {
        background: $tweet-background-light;
    }
}

.tweet__avatar {
    border-radius: 4px;
    flex: 0;
    height: 56px;
    margin-right: 15px;
    width: 56px;
}

.tweet__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.tweet__details {
    display: flex;
    justify-content: space-between;
}

.tweet__text {
    font-size: 22px;
    margin: 0 0 5px;
}

/**
 * Tweet buttons
 */
.tweet-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .icon {
        font-size: 18px;
        color: darken($tweet-gray-medium, 5%);
        cursor: pointer;
        transition: $transition;

        &:hover {
            color: $tweet-blue;
        }
    }
}

.tweet-buttons__likes {
    display: flex;
    align-items: center;

    p {
        color: $tweet-gray-dark;
        margin: 0 10px;
    }

    &--has-likes {
        &.icon, &.icon:hover {
            color: $red-bright;
            cursor: default;
        }
    }
}

/**
 * Search box
 */
.tweet-search {
    position: relative;

    input {
        border-radius: 20px;
        border: 1px solid white;
        box-shadow: $shadow;
        color: $tweet-blue;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
        outline: 0 !important;
        padding: 5px 15px;
        transition: $transition;
        width: 100%;

        &:focus {
            border-color: $tweet-blue;

            + .icon {
                color: $tweet-blue;
            }
        }
    }

    .icon {
        color: lighten($tweet-blue, 15%);
        font-size: 26px;
        position: absolute;
        right: 12px;
        top: 0;
    }

    &__clear {
        cursor: pointer;

        &.icon {
            font-size: 36px;
            right: 14px;
            top: -6px;
        }
    }
}

/**
 * Compose panel
 */
.compose {
    background: $tweet-background-light;
    margin-bottom: 20px;
}

.compose__body {
    display: flex;

    img {
        margin: 20px 15px 0 20px;
    }
}

.compose__container {
    border-bottom: 1px solid $tweet-gray-light;
    border-left: 1px solid $tweet-gray-light;
    border-right: 1px solid $tweet-gray-light;
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.compose__counter {
    font-weight: 400;
    color: $tweet-gray-dark;
    margin-right: 10px;

    &--warning {
        color: $red-dark;
    }

    &--danger {
        font-weight: 600;
        color: $red-bright;
    }
}

.compose__editor {
    -webkit-text-fill-color: transparent;
    border-radius: 4px;
    border: 1px solid $tweet-gray-medium;
    color: black;
    flex: 1 1 auto;
    font-size: 22px;
    margin: 20px 20px 20px 0;
    min-height: 100px;
    outline: 0 !important;
    padding: 5px 10px;
    text-shadow: 0px 0px 0px transparent;
    transition: $transition;
    z-index: 2;

    &:focus {
        border: 1px solid $tweet-blue;
    }
}

.compose__editor-highlighted {
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: 22px;
    left: 70px;
    margin: 20px;
    outline: 0 !important;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    user-select: none;
    z-index: 1;

    .highlighted {
        color: $red-bright;
    }
}

.compose__footer {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 20px 20px;
}

.compose-slide-down {
    &-enter-active, &-leave-active {
        transition: all .3s ease-in-out;
    }

    &-enter, &-leave-to {
        max-height: 0;
        opacity: 0;
    }

    &-enter-to, &-leave {
        max-height: 250px;
        opacity: 1;
    }
}
