@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i');

@import '~ionicons/dist/css/ionicons.min.css';
@import 'variables';
@import 'bootstrap';
@import 'nav';
@import 'tweets';

body {
    font-weight: 300;
}

.app {
    max-width: 600px;
    margin: auto;
}

.btn {
    border: none;
    font-size: 16px;
    font-weight: 300;
    outline: 0 !important;
    padding: 8px 14px;

    .icon {
        margin-right: 10px;
    }
}

.btn-blue {
    background: $tweet-blue;
    color: white;
    transition: .2s all;

    &:hover, &:focus {
        background: darken($tweet-blue, 8%);
        color: white;
    }

    &--active {
        background: $tweet-gray-medium;
        color: $tweet-gray-dark;

        &:hover, &:focus {
            background: darken($tweet-gray-medium, 8%);
            color: $tweet-gray-dark;
        }
    }
}
